html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  padding-top: 55px;

  @media (max-width: 850px) {
    padding-top: 0px;
  }
}

img,
embed,
object,
video {
  max-width: 100%;
}

body > section:before {
  display: block;
  content: " ";
  margin-top: -55px;
  height: 55px;
  visibility: hidden;
}
