#header {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
}

.logo {
  text-transform: uppercase;
}

.welcome {
  color: rgba(255, 255, 255, 0.856);
  border: 1px solid rgba(255, 255, 255, 0.856);
  border-radius: 8px;
  padding: 30px 50px;
  background-color: rgba(0, 0, 0, 0.6);
  & h1 {
    font-size: 2.5rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
  }
  & p {
    text-align: center;
    font-size: 1.2em;
  }
}
