#header {
  background-color: rgba(22, 2, 22, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  transition: 0.3s;
  z-index: 10;
  -webkit-animation: 1s fadein 0.5s forwards;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;

  @media screen and (max-width: 750px) {
    background-color: rgba(22, 2, 22, 1);
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.logo {
  text-transform: uppercase;
}

.welcome {
  color: rgba(255, 255, 255, 0.856);
  border: 1px solid rgba(255, 255, 255, 0.856);
  border-radius: 8px;
  padding: 30px 50px;
  background-color: rgba(0, 0, 0, 0.6);

  & h1 {
    font-size: 3.5rem;
    letter-spacing: 15px;
    text-transform: uppercase;
    text-align: center;
  }
  & p {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 3px;
  }

  @media screen and (max-width: 420px) {
    max-width: 100%;
    padding: 1rem 2rem;
    & h1 {
      font-size: 1.8rem;
      letter-spacing: 10px;
    }

    & p {
      font-size: 1rem;
    }
  }

  @media (max-width: 850px) {
    max-width: 70%;

    & h1 {
      font-size: 2.2rem;
    }

    & p {
      font-size: 1.5rem;
    }
  }

  @media only screen and (min-width: 850px) and (max-width: 1250px) {
    & h1 {
      font-size: 3rem;
    }

    & p {
      font-size: 1.6rem;
    }
  }
}

.fab {
  font-size: 4rem;
  margin: 0 1rem;
  color: #2f3640;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: translateY(-2px);
    opacity: 0.85;
  }

  @media (max-width: 850px) {
    font-size: 3.5rem;
  }

  @media screen and (max-width: 420px) {
    font-size: 2.2rem;
  }
}

.welcome {
  opacity: 0;
  margin-top: 100px;
  -webkit-animation: 1s slidefade 0.8s forwards;
  animation: 1s slidefade 0.8s forwards;
}

@keyframes slidefade {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  99% {
    opacity: 1;
    margin: 0;
  }
  100% {
    margin: 0;
    opacity: 1;
  }
}

#js-navbar-toggle {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  & span {
    display: block;
    position: absolute;
    height: 3px;
    width: 40px;
    background: rgba(255, 255, 255, 0.918);
    border-radius: 9px;
    opacity: 1;
    left: 10;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  & span:nth-child(1) {
    top: 15px;
  }

  & span:nth-child(2) {
    top: 26px;
  }

  & span:nth-child(3) {
    top: 26px;
  }

  & span:nth-child(4) {
    top: 37px;
  }

  &.open {
    span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    & span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    & span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    & span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}
