#header {
  background-color: rgba(47, 54, 64, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  transition: 0.3s;
  z-index: 10;
}

.logo {
  text-transform: uppercase;
}

.welcome {
  color: rgba(255, 255, 255, 0.856);
  border: 1px solid rgba(255, 255, 255, 0.856);
  border-radius: 8px;
  padding: 30px 50px;
  background-color: rgba(0, 0, 0, 0.6);
  & h1 {
    font-size: 2.5rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
  }
  & p {
    text-align: center;
    font-size: 1.5rem;
  }
}

.fab {
  font-size: 4rem;
  margin: 0 1rem;
  color: #2f3640;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: translateY(-2px);
    opacity: 0.85;
  }
}
