.wrapper-nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo {
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 6px;
    color: rgba(255, 255, 255, 0.918);
  }
}

.nav-bar ul {
  display: flex;
  top: 0;
  & li {
    list-style-type: none;

    & a {
      text-decoration: none;
      display: block;
      padding: 1em;
      margin-left: 3em;
      color: rgb(255, 255, 255);
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      transition: 0.5s;
      border: 2px solid transparent;
      &.active {
        border: 2px solid rgb(255, 255, 2);
      }
      &:hover {
        transform: translateY(-1px);
        color: rgb(235, 235, 99);
      }
    }
  }
}

#section-front {
  background: url("https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -55px;
}

#section-work {
  & h2 {
    text-align: center;
    padding: 6rem;
    text-transform: uppercase;
    color: #293347;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }

  @media (max-width: 850px) {
    & h2 {
      font-size: 1.8rem;
      padding: 2.8rem;
    }
  }

  @media only screen and (min-width: 850px) and (max-width: 1250px) {
    & h2 {
      font-size: 2.5rem;
      padding: 3rem;
    }
  }

  & .container-img {
    width: 85%;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 1rem;
    margin-bottom: 8rem;

    & .hover-effect {
      overflow: hidden;
      position: relative;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      transition: 0.4s;

      &:hover {
        transform: scale(1.02);
      }

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      & .overlay {
        position: absolute;
        text-align: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.7);
        transition: all 0.4s ease-in-out 0s;

        &:hover {
          opacity: 1;
        }

        & h1 {
          color: #fff;
          font-size: 2rem;
          text-transform: uppercase;
          border-top: 2px solid #fff;
          border-bottom: 2px solid #fff;
          padding: 1rem 0;
          line-height: 1.6;
          letter-spacing: 0.5rem;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          margin-top: -60px;
        }
      }
    }

    @media only screen and (min-width: 850px) and (max-width: 1250px) {
      grid-gap: 0.5rem;
      .container-img--1 {
        grid-column: 1/3;
        grid-row: 4/9;
      }

      .container-img--2 {
        grid-column: 1/3;
        grid-row: 1/4;
      }

      .container-img--3 {
        grid-column: 3/5;
        grid-row: 4/9;
      }

      .container-img--4 {
        grid-column: 3/5;
        grid-row: 1/4;
      }
    }

    @media (max-width: 850px) {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: auto;

      & .hover-effect > img {
        width: 100%;
        height: auto;
      }

      & .hover-effect:not(:first-child) > img {
        margin-top: 20px;
      }
    }

    &--1 {
      grid-column: 1/3;
      grid-row: 1/9;
    }

    &--2 {
      grid-column: 3/5;
      grid-row: 1/4;
    }

    &--3 {
      grid-column: 4/5;
      grid-row: 4/9;
    }

    &--4 {
      grid-column: 3/4;
      grid-row: 4/9;
    }
  }
}

#section-contact {
  height: 80%;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 850px) {
    height: 100%;
    margin-top: -50px;
  }

  @media only screen and (min-width: 850px) and (max-width: 1250px) {
    margin-top: -80px;
  }
  & .contact-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 1250px) {
      flex-wrap: wrap;
    }

    & h2 {
      padding: 4rem 4rem 3rem 1rem;
      color: #293347;
      font-weight: 800;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
    }

    @media (max-width: 850px) {
      h2 {
        font-size: 1.8rem;
      }
    }

    & #form {
      max-width: 450px;
      display: flex;
      flex-direction: column;
      padding: 2.5rem;
      border-radius: 6px;
      background-color: #eceff1;
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
      font-size: 1.3rem;

      @media (max-width: 850px) {
        margin-bottom: 2rem;
      }

      & h2 {
        margin-bottom: 1rem;
        text-align: center;
        padding: 0.2rem;
        border-bottom: 2px solid currentColor;
        margin-bottom: 2rem;
      }

      & p {
        text-align: center;
        text-decoration: underline;
      }

      & > * {
        padding: 0.5rem;
      }
      & input,
      textarea {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        resize: none;
        margin-bottom: 2rem;
        font-size: 1.3rem;
        transition: 0.3s;
        &:hover {
          transform: translateY(-2px);
        }
      }
      & #submit {
        font-weight: 500;
        margin: 0 auto;
        border: none;
        padding: 0.5rem 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 25px;
        cursor: pointer;
        color: #fff;
        background-color: #2f3640;
        text-transform: uppercase;
        width: 50%;
        text-align: center;
        transition-duration: 0.3s;
        box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.25);
        &:hover {
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
          opacity: 0.85;
          transform: translateY(-2px);
        }
      }
    }

    & .contact-follow {
      order: -1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      @media (max-width: 1250px) {
        flex-direction: column;
        margin-bottom: 3rem;
      }

      & h2 {
        padding: 2rem 2rem 2rem 2rem;
      }
    }
  }
}

footer {
  background-color: #2f3640;
  height: 20vh;

  & p {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 20vh;
  }
}
